/* Import font to use Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Define variables to use */
:root {
    --primary-bg-color: url('../img/dark-bg.png');
    /*--primary-bg-color: url('../img/light-bg.png');*/
    --secondary-bg-color: white;
    /*--secondary-bg-color: #eaeaea;*/
    --color: #06c;
}

/*Set the background image and font to body*/
body {
    background: #fff var(--primary-bg-color) no-repeat center bottom fixed;
    background-size: 100% 100%;
    font-family: "Open Sans", sans-serif;
}

/*Add row to split data vertically*/
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Add row to split data horizontally*/
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

/*make it rounded with radius of 8px*/
.rounded {
    border-radius: 8px;
}

/*Set secondary background color*/
.secondary-bg-color {
    background-color: var(--secondary-bg-color);
}

/*Color the top border*/
.border-top-colored {
    border-top: 4px solid;
    border-color: var(--color);
}

/*Set header to be centered and font of 14*/
.header {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    align-self: center;
}

/*Add 16px margin*/
.m-16 {
    margin: 16px;
}

/*Set form inputs horizontally with 70% width*/
.form-group-input {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/*Label of input should be in separate row*/
.input-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-size: 14px;
}

/*Text inputs should have custom border color and text cursor*/
.text-input {
    height: 30px;
    border: 1px solid #f0f0f0;
    border-bottom-color: #8a8d90;
    cursor: text;
    width: 100%;
}

/*Custom bottom border for text input on hover*/
.text-input:hover {
    border-bottom-color: var(--color);
}

/*Custom bottom border for text input on focus*/
.text-input:focus {
    border-bottom-color: var(--color);
}

/*Submit input should have custom bg color and pointer cursor and be rounded*/
.submit-input {
    height: 30px;
    color: white;
    background-color: var(--color);
    cursor: pointer;
    border: 0 none;
}

/*different input color on hovering submit button*/
.submit-input:hover {
    background-color: #004080;
}

/*Submit input button should have different color when is disabled and not-allowed cursor*/
.submit-input:disabled {
    color: #6a6e73;
    background-color: #d2d2d2;
    cursor: not-allowed;
}

/*Submit input button should have different color when hovering it and not-allowed cursor*/
.submit-input:disabled:hover {
    color: #6a6e73;
    background-color: #d2d2d2;
    cursor: not-allowed;
}

/*toast should be on top and be top of other elements on z axis*/
.toast {
    position: absolute;
    min-width: 450px;
    z-index: 1;
    padding: 16px 0;
    background-color: #fff;
}

.toast:before {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.toast-svg {
    fill: #fff;
}

/*toast icon should be in circle and defined metrics and should move little down by translateY*/
.toast-icon {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    padding: 8px;
    border-radius: 50%;
}

/*Toast type should be bold*/
.toast-type {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.toast-message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast-content {
    padding-left: 70px;
    padding-right: 60px;
}

/*This should be on have same top with other parts of toast*/
.toast-close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor: pointer;
    height: 14px;
    fill: #878787;
    transform: translateY(-50%);
}

.toast-green .toast-icon {
    background-color: #2BDE3F;
}

.toast-green:before {
    background-color: #2BDE3F;
}

.toast-red .toast-icon {
    background-color: #D81A1A;
}

.toast-red:before {
    background-color: #D81A1A;
}

/*Use to hide element*/
.display-none {
    display: none;
}

/*Specific attributes of main*/
.main {
    width: 100%;
    height: 100%;
}

/*Specific attributes of search*/
.search {
    width: 400px;
    height: 400px;
}

/*Specific attributes of user-info*/
.user-info {
    width: 700px;
    height: auto;
}

/*Specific attributes of user-card*/
.user-card {
    width: 100%;
}

/*Specific attributes of user-profile*/
.user-profile {
    padding: 8px 16px;
    width: 400px;
}

/*Specific attributes of user-image (Should be circle)*/
.user-image {
    border-radius: 50%;
}

/*Specific attributes of user-bio (must show new lines)*/
.user-bio {
    white-space: pre-line;
    text-align: center;
    width: 200px;
}

/*Specific attributes of user-details*/
.user-details {
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

/*Used to be responsive (two main sections should be in column format and some sizes change)*/
@media (max-width: 1068px) {
    .main {
        flex-direction: column;
        justify-content: space-between;
    }

    .search {
        margin: 24px;
    }

    .user-info {
        width: unset;
        height: unset;
        max-width: max-content;
        max-height: max-content;
        margin: 24px 12px;
    }

    .user-card {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
    }

    .user-profile {
        display: flex;
    }

    .user-details {
        align-items: center;
    }
}